node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key

/storage/app/public/profile/*
!storage/app/public/profile/default.png

/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.DS_Store
_ide_helper.php
.phpstorm.meta.php

